.promotion-cover {
  background: url(../../../assets/img/cover-image.png) no-repeat;;
  height: 260px;
  background-size: contain;
  padding-top: 20px;
  h1, h2 {
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-align: right;
    font-size: 50px;
    line-height: 40px;
    margin:0 100px;
  }
  h2 {
    color:#C50D00;
  }
  .cta-basic__join-now {
    cursor: pointer;
    height: 58px;
    width: 184px;
    background: url(../../../assets/img/sprite.png) -2px -315px;
    border: 5px black solid;
    border-radius: 10px;
    display: flex;
    margin: 125px auto;
  }
  .cta-basic__join-now:hover {
    background-position-y: -370px;
  }
}