.promotion-cover {
  background: url(../../../assets/img/cover-image.png) no-repeat;;
  height: 260px;
  background-size: cover;
  padding-top: 20px;
  h1, h2, h3 {
    white-space: nowrap;
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    text-align: right;
    margin: 0 100px 0 0;
    @media (max-width: $screen-sm-min) {
      margin: 0 10px;
    }
    @media (max-width: $screen-xs-min) {
      top: 50px;
      position: relative;
      font-size: 30px;
      line-height: 28px;
    }
  }
  h2 {
    color:#C50D00;
  }
  h3 {
    height: 0;
    font-size: 19px;
    @media (max-width: $screen-xs-min) {
      font-size:12px;
    }
      span {
      color:#C50D00;
    }
  }
  .fulham-badge {
      position: absolute;
      right: 100px;
      bottom: 50px;
    display: inline-block;
    @media (max-width: $screen-xs-min) {
      bottom: 40px;
      right: 25px;
    }
  }
  .cta-basic__join-now {
    cursor: pointer;
    height: 58px;
    width: 182px;
    background: url(../../../assets/img/sprite.png) -2px -315px;
    border: 5px black solid;
    border-radius: 10px;
	display: flex;
	display: -webkit-flex;
    margin: auto;
    position: relative;
    top: 130px;
    @media (max-width: $screen-xs-min) {
      top:154px;
    }
  }
  .cta-basic__join-now:hover {
    background-position-y: -370px;
  }
}